@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.woff2') format('woff2'),
  url('Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold.woff2') format('woff2'),
  url('Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: local('Heebo-Medium'),
  url('Heebo-Medium.woff2') format('woff2'),
  url('Heebo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('Roboto-Medium.woff2') format('woff2'),
  url('Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
  url('Roboto-Regular.woff2') format('woff2'),
  url('Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuton';
  src: local('Neuton Regular'), local('Neuton-Regular'),
  url('Neuton-Regular.woff2') format('woff2'),
  url('Neuton-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: local('Heebo-Regular'),
  url('Heebo-Regular.woff2') format('woff2'),
  url('Heebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Italic'), local('Roboto-Italic'),*/
/*        url('Roboto-Italic.woff2') format('woff2'),*/
/*        url('Roboto-Italic.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Thin'), local('Roboto-Thin'),*/
/*        url('Roboto-Thin.woff2') format('woff2'),*/
/*        url('Roboto-Thin.woff') format('woff');*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Bold'), local('Roboto-Bold'),*/
/*        url('Roboto-Bold.woff2') format('woff2'),*/
/*        url('Roboto-Bold.woff') format('woff');*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Heebo';*/
/*    src: local('Heebo-Black'),*/
/*        url('Heebo-Black.woff2') format('woff2'),*/
/*        url('Heebo-Black.woff') format('woff');*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*}*/


/*@font-face {*/
/*    font-family: 'Neuton';*/
/*    src: local('Neuton Light'), local('Neuton-Light'),*/
/*        url('Neuton-Light.woff2') format('woff2'),*/
/*        url('Neuton-Light.woff') format('woff');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),*/
/*        url('Roboto-BlackItalic.woff2') format('woff2'),*/
/*        url('Roboto-BlackItalic.woff') format('woff');*/
/*    font-weight: 900;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Neuton';*/
/*    src: local('Neuton Italic'), local('Neuton-Italic'),*/
/*        url('Neuton-Italic.woff2') format('woff2'),*/
/*        url('Neuton-Italic.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Heebo';*/
/*    src: local('Heebo-Light'),*/
/*        url('Heebo-Light.woff2') format('woff2'),*/
/*        url('Heebo-Light.woff') format('woff');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),*/
/*        url('Roboto-ThinItalic.woff2') format('woff2'),*/
/*        url('Roboto-ThinItalic.woff') format('woff');*/
/*    font-weight: 100;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Heebo';*/
/*    src: local('Heebo-ExtraBold'),*/
/*        url('Heebo-ExtraBold.woff2') format('woff2'),*/
/*        url('Heebo-ExtraBold.woff') format('woff');*/
/*    font-weight: 800;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Heebo';*/
/*    src: local('Heebo-Thin'),*/
/*        url('Heebo-Thin.woff2') format('woff2'),*/
/*        url('Heebo-Thin.woff') format('woff');*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Light'), local('Roboto-Light'),*/
/*        url('Roboto-Light.woff2') format('woff2'),*/
/*        url('Roboto-Light.woff') format('woff');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),*/
/*        url('Roboto-MediumItalic.woff2') format('woff2'),*/
/*        url('Roboto-MediumItalic.woff') format('woff');*/
/*    font-weight: 500;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Neuton';*/
/*    src: local('Neuton Bold'), local('Neuton-Bold'),*/
/*        url('Neuton-Bold.woff2') format('woff2'),*/
/*        url('Neuton-Bold.woff') format('woff');*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/


/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),*/
/*        url('Roboto-LightItalic.woff2') format('woff2'),*/
/*        url('Roboto-LightItalic.woff') format('woff');*/
/*    font-weight: 300;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Neuton';*/
/*    src: local('Neuton ExtraBold'), local('Neuton-ExtraBold'),*/
/*        url('Neuton-ExtraBold.woff2') format('woff2'),*/
/*        url('Neuton-ExtraBold.woff') format('woff');*/
/*    font-weight: 800;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Heebo';*/
/*    src: local('Heebo Bold'), local('Heebo-Bold'),*/
/*        url('Heebo-Bold.woff2') format('woff2'),*/
/*        url('Heebo-Bold.woff') format('woff');*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Black'), local('Roboto-Black'),*/
/*        url('Roboto-Black.woff2') format('woff2'),*/
/*        url('Roboto-Black.woff') format('woff');*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),*/
/*        url('Roboto-BoldItalic.woff2') format('woff2'),*/
/*        url('Roboto-BoldItalic.woff') format('woff');*/
/*    font-weight: bold;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Neuton';*/
/*    src: local('Neuton ExtraLight'), local('Neuton-ExtraLight'),*/
/*        url('Neuton-ExtraLight.woff2') format('woff2'),*/
/*        url('Neuton-ExtraLight.woff') format('woff');*/
/*    font-weight: 200;*/
/*    font-style: normal;*/
/*}*/

